.filterannot{
  .paper {
    padding: 1rem;
    h3{
      margin: 1rem 0;
    }

    p {
      line-height: 1.6;
      font-size: 1rem;
      text-align: justify;
      margin: 10px 0 1.6rem 0;
    }
    ul{
      padding-left: 1.5rem;
    }
    ol{
      padding-left: 1.5rem;
    }
    li{
      line-height: 1.7;
    }
  }
}
