@import  "../../../partials/mixins";

.result_list{
  position: relative;

  .paper{
    overflow-x: auto;
    margin-right: auto;
    margin-left: auto;
  }
  .loading{
    position: absolute;
    left: 50%;
  }
  .error{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-weight: bold;
    padding-top: 10px;
  }

  .error_long{
    @include respondMax(ipad-land) {
      display: none;
    }
  }

  .error_short{
    display: none;
    @include respondMax(ipad-land) {
      display: block;
    }
  }
}