.overflow {
  overflow-x: auto;
}

.more_results {
  width: 100%;
  display: flex;
  div {
    margin: 10px;
    h3 {
      margin-bottom: 1.3rem;
    }
    ul {
      list-style-type: none;
      li {
        background-color: #bebee0;
        border-radius: 3px;
        margin: 5px;
        padding: 5px;
      }
    }
    &:nth-of-type(2) {
      li {
        background-color: #f6e382;
      }
    }
    &:nth-of-type(3) {
      li {
        background-color: #f098f8;
      }
    }
    &:nth-of-type(4) {
      li {
        background-color: #989df8;
      }
    }
    &:nth-of-type(5) {
      li {
        background-color: #baf898;
      }
    }
    &:nth-of-type(6) {
      li {
        background-color: #f898a6;
      }
    }
    &:nth-of-type(7) {
      li {
        background-color: #de98f8;
      }
    }
  }
  //p{
  //  display: inline-block;
  //  width: 200px;
  //}
}
