@import "../../../partials/mixins";

.table_tabs {
  width: 100%;
  .sub_heading {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    @include respondMax(ipad-port) {
      font-size: 14px;
    }
  }

  .tabs_header {
    @include respondMax(ipad-land) {
      .MuiTabs-root {
        overflow: scroll !important;
      }
    }
  }

  .download {
    p {
      margin-bottom: 1rem;
      @include respondMax(ipad-port) {
        font-size: 9px;
      }
    }
    .buttons {
      margin-bottom: 1rem;
      .button {
        margin-right: 1rem;
        @include respondMax(ipad-port) {
          width: 240px;
          font-size: 10px;
          margin-bottom: 1rem;
          margin-right: 0;
        }
      }
    }
  }

  .panels {
    margin: 1rem;
    padding: 1rem;
    overflow-x: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  }

  .table_section {
    width: 100%;
  }
}
