.Home{
  width: 100%;
  min-height: 100vh;
  margin: 5.2rem auto 0;
  background-color: #032f72;
  //background-color: #fff;
  //background-color: #005fb1;
  display: flex;
  justify-content: center;
  align-items: center;
}
