@import "../../partials/mixins";
.Home {
  width: 100%;
  min-height: 100vh;
  margin: 5.2rem auto 0;
  background-color: #f9f9f9;
  // background-color: #a1bcf5;
  //background-color: #fff;
  //background-color: #005fb1;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 5rem;

    @include respondMin(big-desktop) {
      width: 75rem;
      margin: 0 auto;
    }
  }
}
