@import "../../partials/mixins";

.Home {
  margin-top: 5.2rem;
  width: 100%;
  min-height: 100vh;
  .container {
    padding: 1rem;
    width: 75rem;
    margin: 0 auto;
    @include respondMax(tab-land) {
      width: 100%;
      padding: 1rem;
    }
  }
}
