@import "../../partials/mixins";

.MainArea {
  max-width: 75rem;
  margin: 0 auto 5rem auto;

  @include specialMax(1300px) {
    padding: 4rem;
  }

  @include respondMin(big-desktop) {
    max-width: 80rem;
    padding: 2rem;
  }

  @include respondMax(ipad-land) {
    width: 100%;
    padding: 1rem;
  }

  h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  span{
    display: block;
    width: 13rem;
    height: 0.5rem;
    margin: 0 auto 3.5rem auto;
    border-radius: 10px;
    background-color: #f7bd35;
  }
  .AnalysisGroup {
    width: 100%;
    //margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @include respondMax(ipad-land) {
      flex-direction: column;
    }

    .AnalysisBox {
      height: 23rem;
      width: 21rem;
      @include respondMax(phone-port) {
        width: 16rem;
      }
      box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
      border-radius: 15px;
      padding: 10px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &:not(:last-of-type){
        margin-right: 3.5rem;
      }
      @include respondMax(tab-land) {
        &:not(:last-of-type){
          margin-right: 1.5rem;
        }
      }

      @include respondMax(ipad-land) {
        &:not(:last-of-type){
          margin-bottom: 3.5rem;
          margin-right: 0;
        }
      }

      &:hover{
        transform: translateY(-3px);
      }

      .AnalysisLeft {
        position: relative;
        flex: 1;
        .SVGIcon {
          width: 3rem;
          height: 3rem;
        }
      }
      .AnalysisRight {
        position: relative;
        flex: 3;
        .analysis_content{
          padding: 5px;
          font-size: 1rem;
          line-height: 1.3;
          color: #02081a;
          text-align: justify;
        }
        .analysis_header{
          padding: 5px;
          font-size: 1.2rem;
          color: #4880ef;
          font-weight: bold;
          text-align: left;
        }
        .analysis_link{
          padding: 1rem;
          @include respondMax(phone-port) {
            padding: 5px;
          }
          font-weight: bold;
          text-decoration: none;
          position: absolute;
          bottom: 10px;
          display: flex;
          align-items: center;
        }

      }
    }
  }
}
