@import "./partials/mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  //font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}


.Toastify__toast-body{
  white-space: pre-line;
}

.suspense_center {
  width: 100%;
  height: 60vh;
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.MuiContainer-root {
  margin: 0 !important;
}

