@import "../../partials/mixins";

.appbar{
  background-color: #060606 !important;
  box-shadow: none;
  padding: 10px 0;
  borderBottom: 2px solid #00285e;

  .toolbar {
    display: flex;
    justify-content: space-between;

    .logoContainer{
      .Logo {
        font-size: 1.3rem;
        color: $color-white;
        //padding: 1rem 1rem 1rem 0;
        text-align: center;
        cursor: pointer;
        a{
          text-decoration: none;
          color: #fff;
        }
        span {
          display: inline-block;
          font-size: 1.6rem;
          font-weight: bold;
          color: $logo-color;
        }
      }
    }

    .links{
      a {
        text-decoration: none;
        color: #fff;
        //font-size: 1.2rem !important;
      }
      span{
        font-size: 1.1rem ;
      }
    }

  }

}
