@import "../../partials/mixins";

.appbar {
  background-color: #060606 !important;
  //background: #ffffff !important;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1), 0px 10px 40px rgba(0, 0, 0, 0.06);
  height: 84px;
  //box-shadow: none;
  padding: 10px 0;
  border-bottom: 2px solid #00285e;

  .toolbar {
    display: flex;
    justify-content: space-between;

    .logo_donut {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      height: inherit;
      .sidebar_donut {
        position: absolute;
        right: -40px;
        display: none;
        @include specialMax(959px) {
          display: block;
        }
      }
      .logoContainer {
        //width: 100%;
        //height: 100%;
        //border-right: 2px solid grey;
        .Logo {
          font-size: 1.3rem;
          color: $color-white;
          //padding: 1rem 1rem 1rem 0;
          text-align: center;
          cursor: pointer;
          @include respondMax(ipad-port) {
            font-size: 0.9rem;
          }
          a {
            text-decoration: none;
            color: #fff;
            //color: #000;
          }
          span {
            display: inline-block;
            font-size: 1.6rem;
            font-weight: bold;
            color: $logo-color;
            @include respondMax(ipad-port) {
              font-size: 1.1rem;
            }
          }
        }
      }
    }

    .links {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
        color: #fff;
        //color: #000;
        margin-left: 0.625rem;
        @include respondMax(ipad-land) {
          margin-left: 0;
        }
        button {
          @include respondMax(ipad-port) {
            padding: 0;
            min-width: 30px;
          }
        }
        //font-size: 1.2rem !important;
        &:hover {
          color: #ca0dac;
        }
      }
      span {
        font-size: 1.1rem;
      }

      .dropdown{
        position: relative;

        //overflow: hidden;
        &:hover .dropdown_menu{
          opacity: 1 !important;
          transform: translateY(-10px) !important;
          pointer-events: auto !important;
        }
      }

      .dropdown_menu {
        position: absolute;
        left: 0;
        top: calc(100% + .25rem);
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.4);
        opacity: 0;
        transition: all .5s ease-in-out;
        //transform: translateY(-10px);
        pointer-events: none;
        width: 12rem;
        //height: 8rem;
        ul {
          list-style-type: none;
          li{
            font-size: 12px;
            text-align: center;
            cursor: pointer;
            padding: 1rem 0;
            &:hover {
              background-color: #cbcbcb !important;
              color: #fff !important;
            }
            a{
              color: #000;
              margin-left: 0;
              height: 100%;
              width: 100%;
            }
          }
        }
      }


    }
  }
}
