@import "../../../partials/mixins";

.regulation{
  width: 100%;
  @include respondMax(ipad-land) {
    width: 95%;
  }
  h1{
    margin-bottom: 2rem;
    @include respondMax(ipad-port) {
      font-size: 14px;
    }
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 100%;
    padding: 5rem;
    font-weight: bold;
    @include respondMax(ipad-port) {
      font-size: 12px;
      padding: 2rem;
    }
  }
}