.pairwise {
  width: 100%;

  .error {
    background-color: red;
  }

  .heading {
    margin-bottom: 2rem;
  }

  .result {
    width: 100%;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-x: auto;
  }
}
