@import "../../partials/mixins";
.home_container {
  width: 80%;
  @include respondMax(phone-land) {
    width: 100%;
  }
  margin: 0 auto;
  height: 100%;
  padding: 2rem;
  @include respondMax(ipad-port) {
    padding: 1rem;
  }
  .main_header {
    //margin: 2rem 0 2rem 0;
    text-transform: uppercase;
    margin-bottom: 2rem;
    @include respondMax(ipad-port) {
      //font-size: 1rem;
    }
    color: #000000;
    text-align: center;
  }
  .line_bar {
    display: block;
    @include respondMax(ipad-port) {
      width: 12rem;
    }
    width: 17rem;
    height: 0.5rem;
    margin: 0 auto 3.5rem auto;
    border-radius: 10px;
    background-color: #f7bd35;
    //margin-bottom: 5rem;
  }
  .main_container {
    //display: flex;
    //justify-content: center;
    //align-items: center;
    height: inherit;
    .grid_container {
      //padding: 3rem 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      .tab {
        width: 250px;
        height: 150px;
        border: 1px solid black;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
          color: #fff;
        }

        &:nth-of-type(1){
        background: linear-gradient(89.69deg, #f8cca1 2.03%, #f5a5a5 99.73%);
        }
        &:nth-of-type(2){
          background: linear-gradient(270deg, #6890f5 0%, #79c5f1 100%);
        }
        &:nth-of-type(3){
          background: linear-gradient(270.23deg, #8addf6 18.35%, #90bca4 99.8%);
        }
        &:nth-of-type(4){
          background: linear-gradient(269.97deg, #b5f687 0.02%, #d9d9d9 98.42%);
        }
        &:nth-of-type(5){
          background: linear-gradient(89.69deg, #facdf8 2.03%, #fcbebe 99.73%);
        }
        &:nth-of-type(6){
          background: linear-gradient(270deg, #f8e1e1 0%, #83cef8 100%);
        }
        &:nth-of-type(7){
          background: linear-gradient(270.23deg, #cff58b 0.19%, #9bf8c6 99.8%);
        }
        &:nth-of-type(8){
          background: linear-gradient(269.97deg, #cbc9c9 0.02%, #cfaff8 99.98%);
        }
        &:nth-of-type(9){
          background: linear-gradient(270.23deg, #faa2ec 0.19%, #abfacf 99.8%);
        }
        &:nth-of-type(10){
          background: linear-gradient(270deg, #b8f5d4 0%, #80ccf5 100%);
        }
        &:nth-of-type(11){
          background: linear-gradient(89.69deg, #ffdcbb 2.03%, #fc8989 99.73%);
        }
        &:nth-of-type(12){
          background: linear-gradient(270.23deg, #a6f8e5 18.35%, #94f889 99.8%);
        }
        &:nth-of-type(13){
          background: linear-gradient(270.23deg, #7ce0fd 18.35%, #9cfcc6 99.8%);
        }
        &:nth-of-type(14){
          background: linear-gradient(270.23deg, #09bdf1 18.35%, #167e44 99.8%);
        }
        &:nth-of-type(15){
          background: linear-gradient(270.23deg, #3f59ef 18.35%, #c1c536 99.8%);
        }
        &:nth-of-type(16){
          background: linear-gradient(270.23deg, #3f59ef 18.35%, #f3b1a9 99.8%);
        }
        &:nth-of-type(17){
          background: linear-gradient(270.23deg, #853fef 18.35%, #f3b1a9 99.8%);
        }
        &:nth-of-type(18){
          background: linear-gradient(270.23deg, #51ef3f 18.35%, #f3b1a9 99.8%);
        }
      }
    }
  }
}
