.ldstructure {
  width: 100%;
  height: 100vh;
  margin-top: 2rem;

  .appBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 3.75rem;
    width: 60%;
    .toolBar {
      width: 80%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .selected {
        //border-bottom: 2px solid #fff;
        color: yellow !important;
        background-color: rgba(0,0,0,0.4);
        border-radius: 5px;
      }
      .links {
        margin: 0 1.25rem;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
